In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('RICE.csv')

data.head()

,Observation Year,Standard Week,Pest Value,Collection Type,MaxT,MinT,RH1(%),RH2(%),RF(mm),WS(kmph),SSH(hrs),EVP(mm),PEST NAME,Location
0,2003,1,0.0,Number/hill,27.9,14.8,94.7,51.3,0.0,3.1,8.7,2.7,Brownplanthopper,Cuttack
1,2003,2,0.0,Number/hill,27.2,15.0,93.9,53.1,0.0,2.1,8.7,2.4,Brownplanthopper,Cuttack
2,2003,3,0.0,Number/hill,28.7,18.3,94.1,56.7,0.6,4.8,6.7,2.8,Brownplanthopper,Cuttack
3,2003,4,0.0,Number/hill,25.3,16.4,90.9,57.4,0.3,6.5,5.3,3.0,Brownplanthopper,Cuttack
4,2003,5,0.0,Number/hill,28.8,18.7,95.7,55.0,0.0,5.2,6.3,2.8,Brownplanthopper,Cuttack

# Data Exploration

## Attribute Analysis

In [21]:
data.isnull().sum()

Observation Year    0
Standard Week       0
Pest Value          0
Collection Type     0
MaxT                0
MinT                0
RH1(%)              0
RH2(%)              0
RF(mm)              0
WS(kmph)            0
SSH(hrs)            0
EVP(mm)             0
PEST NAME           0
Location            0
Outbreak            0
dtype: int64

### "Collection Type"

In [3]:
print(data['Collection Type'].describe())
print('')
print(data['Collection Type'].unique())
print('')
print(data['Collection Type'].value_counts())

count                 19404
unique                    5
top       Number/Light trap
freq                  16430
Name: Collection Type, dtype: object

['Number/hill' 'Number/Light trap' 'Percent Damage'
 'Number/Pheromone trap' 'Percentage']

Collection Type
Number/Light trap        16430
Percentage                2298
Number/Pheromone trap      520
Percent Damage             104
Number/hill                 52
Name: count, dtype: int64

### "Pest Name"

In [4]:
print(data['PEST NAME'].describe())
print('')
print(data['PEST NAME'].unique())
print('')
print(data['PEST NAME'].value_counts())

count               19404
unique                 11
top       Yellowstemborer
freq                 4333
Name: PEST NAME, dtype: object

['Brownplanthopper' 'Gallmidge' 'Greenleafhopper' 'LeafFolder'
 'Yellowstemborer' 'Caseworm' 'Miridbug' 'Whitebackedplanthopper'
 'ZigZagleafhopper' 'LeafBlast' 'NeckBlast']

PEST NAME
Yellowstemborer           4333
Gallmidge                 3016
Greenleafhopper           2287
LeafBlast                 2090
Brownplanthopper          1958
LeafFolder                1716
Whitebackedplanthopper    1248
Miridbug                  1144
Caseworm                   936
ZigZagleafhopper           468
NeckBlast                  208
Name: count, dtype: int64

### "Location"

In [5]:
print(data['Location'].describe())
print('')
print(data['Location'].unique())
print('')
print(data['Location'].value_counts())

count        19404
unique           6
top       Maruteru
freq          7053
Name: Location, dtype: object

['Cuttack' 'Ludhiana' 'Maruteru' 'Palampur' 'Raipur' 'Rajendranagar']

Location
Maruteru         7053
Rajendranagar    5539
Raipur           2132
Ludhiana         1976
Cuttack          1456
Palampur         1248
Name: count, dtype: int64

## Pest Name Analysis

### "Brownplanthopper"

In [8]:
data_BrownPlanthopper = data[data['PEST NAME'] == 'Brownplanthopper']
print(data_BrownPlanthopper['Collection Type'].describe())
print('')
print(data_BrownPlanthopper['Collection Type'].unique())

count                  1958
unique                    2
top       Number/Light trap
freq                   1906
Name: Collection Type, dtype: object

['Number/hill' 'Number/Light trap']

### "Gallmidge"

In [9]:
data_Gallmidge = data[data['PEST NAME'] == 'Gallmidge']
print(data_Gallmidge['Collection Type'].describe())
print('')
print(data_Gallmidge['Collection Type'].unique())

count                  3016
unique                    2
top       Number/Light trap
freq                   2912
Name: Collection Type, dtype: object

['Number/Light trap' 'Percent Damage']

### "Greenleafhopper"

In [10]:
data_Greenleafhopper = data[data['PEST NAME'] == 'Greenleafhopper']
print(data_Greenleafhopper['Collection Type'].describe())
print('')
print(data_Greenleafhopper['Collection Type'].unique())

count                  2287
unique                    1
top       Number/Light trap
freq                   2287
Name: Collection Type, dtype: object

['Number/Light trap']

### "LeafFolder"

In [11]:
data_LeafFolder = data[data['PEST NAME'] == 'LeafFolder']
print(data_LeafFolder['Collection Type'].describe())
print('')
print(data_LeafFolder['Collection Type'].unique())

count                  1716
unique                    1
top       Number/Light trap
freq                   1716
Name: Collection Type, dtype: object

['Number/Light trap']

### "Yellowstemborer"

In [12]:
data_LeafFolder = data[data['PEST NAME'] == 'LeafFolder']
print(data_LeafFolder['Collection Type'].describe())
print('')
print(data_LeafFolder['Collection Type'].unique())

count                  1716
unique                    1
top       Number/Light trap
freq                   1716
Name: Collection Type, dtype: object

['Number/Light trap']

### "Caseworm"

In [13]:
data_Caseworm = data[data['PEST NAME'] == 'Caseworm']
print(data_Caseworm['Collection Type'].describe())
print('')
print(data_Caseworm['Collection Type'].unique())

count                   936
unique                    1
top       Number/Light trap
freq                    936
Name: Collection Type, dtype: object

['Number/Light trap']

### "Miridbug"

In [14]:
data_Miridbug = data[data['PEST NAME'] == 'Miridbug']
print(data_Miridbug['Collection Type'].describe())
print('')
print(data_Miridbug['Collection Type'].unique())

count                  1144
unique                    1
top       Number/Light trap
freq                   1144
Name: Collection Type, dtype: object

['Number/Light trap']

### "Whitebackedplanthopper"

In [15]:
data_Whitebackedplanthopper = data[data['PEST NAME'] == 'Whitebackedplanthopper']
print(data_Whitebackedplanthopper['Collection Type'].describe())
print('')
print(data_Whitebackedplanthopper['Collection Type'].unique())

count                  1248
unique                    1
top       Number/Light trap
freq                   1248
Name: Collection Type, dtype: object

['Number/Light trap']

### "ZigZagleafhopper"

In [16]:
data_ZigZagleafhopper = data[data['PEST NAME'] == 'ZigZagleafhopper']
print(data_ZigZagleafhopper['Collection Type'].describe())
print('')
print(data_ZigZagleafhopper['Collection Type'].unique())

count                   468
unique                    1
top       Number/Light trap
freq                    468
Name: Collection Type, dtype: object

['Number/Light trap']

### "LeafBlast"

In [17]:
data_LeafBlast = data[data['PEST NAME'] == 'LeafBlast']
print(data_LeafBlast['Collection Type'].describe())
print('')
print(data_LeafBlast['Collection Type'].unique())

count           2090
unique             1
top       Percentage
freq            2090
Name: Collection Type, dtype: object

['Percentage']

### "NeckBlast"

In [18]:
data_NeckBlast = data[data['PEST NAME'] == 'NeckBlast']
print(data_NeckBlast['Collection Type'].describe())
print('')
print(data_NeckBlast['Collection Type'].unique())

count            208
unique             1
top       Percentage
freq             208
Name: Collection Type, dtype: object

['Percentage']

# Data Preprocessing

## Creating the "Outbreak" attribute
The "Outbreak" attribute is used as the target attribute for the Machine Learning Models for this Decision Support System (DSS). It is  created with the following logic:
"If the 'Pest Value' is anything above '0', it is seen as an outbreak."

In [19]:
data['Outbreak'] = (data['Pest Value'] > 0).astype(int)
data.head()

,Observation Year,Standard Week,Pest Value,Collection Type,MaxT,MinT,RH1(%),RH2(%),RF(mm),WS(kmph),SSH(hrs),EVP(mm),PEST NAME,Location,Outbreak
0,2003,1,0.0,Number/hill,27.9,14.8,94.7,51.3,0.0,3.1,8.7,2.7,Brownplanthopper,Cuttack,0
1,2003,2,0.0,Number/hill,27.2,15.0,93.9,53.1,0.0,2.1,8.7,2.4,Brownplanthopper,Cuttack,0
2,2003,3,0.0,Number/hill,28.7,18.3,94.1,56.7,0.6,4.8,6.7,2.8,Brownplanthopper,Cuttack,0
3,2003,4,0.0,Number/hill,25.3,16.4,90.9,57.4,0.3,6.5,5.3,3.0,Brownplanthopper,Cuttack,0
4,2003,5,0.0,Number/hill,28.8,18.7,95.7,55.0,0.0,5.2,6.3,2.8,Brownplanthopper,Cuttack,0

### Total Outbreak Percentage

In [20]:
count_ones = data['Outbreak'].sum()
total = data['Outbreak'].count()
pct = count_ones / total * 100
print(f"Outbreak == 1: {count_ones}/{total} ({pct:.2f}%)")

Outbreak == 1: 10734/19404 (55.32%)