In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('RICE.csv')

data.head()

,Observation Year,Standard Week,Pest Value,Collection Type,MaxT,MinT,RH1(%),RH2(%),RF(mm),WS(kmph),SSH(hrs),EVP(mm),PEST NAME,Location
0,2003,1,0.0,Number/hill,27.9,14.8,94.7,51.3,0.0,3.1,8.7,2.7,Brownplanthopper,Cuttack
1,2003,2,0.0,Number/hill,27.2,15.0,93.9,53.1,0.0,2.1,8.7,2.4,Brownplanthopper,Cuttack
2,2003,3,0.0,Number/hill,28.7,18.3,94.1,56.7,0.6,4.8,6.7,2.8,Brownplanthopper,Cuttack
3,2003,4,0.0,Number/hill,25.3,16.4,90.9,57.4,0.3,6.5,5.3,3.0,Brownplanthopper,Cuttack
4,2003,5,0.0,Number/hill,28.8,18.7,95.7,55.0,0.0,5.2,6.3,2.8,Brownplanthopper,Cuttack

# Data Exploration

## Attribute Analysis

### "Collection Type"

In [3]:
print(data['Collection Type'].describe())
print('')
print(data['Collection Type'].unique())

count                 19404
unique                    5
top       Number/Light trap
freq                  16430
Name: Collection Type, dtype: object

['Number/hill' 'Number/Light trap' 'Percent Damage'
 'Number/Pheromone trap' 'Percentage']

### "Pest Name"

In [4]:
print(data['PEST NAME'].describe())
print('')
print(data['PEST NAME'].unique())

count               19404
unique                 11
top       Yellowstemborer
freq                 4333
Name: PEST NAME, dtype: object

['Brownplanthopper' 'Gallmidge' 'Greenleafhopper' 'LeafFolder'
 'Yellowstemborer' 'Caseworm' 'Miridbug' 'Whitebackedplanthopper'
 'ZigZagleafhopper' 'LeafBlast' 'NeckBlast']

### "Location"

In [5]:
print(data['Location'].describe())
print('')
print(data['Location'].unique())

count        19404
unique           6
top       Maruteru
freq          7053
Name: Location, dtype: object

['Cuttack' 'Ludhiana' 'Maruteru' 'Palampur' 'Raipur' 'Rajendranagar']

## Pest Name Analysis

### "Brownplanthopper"

In [8]:
data_BrownPlanthopper = data[data['PEST NAME'] == 'Brownplanthopper']
# count_ones_bp = data_BrownPlanthopper['Outbreak'].sum()
# total_bp = data_BrownPlanthopper['Outbreak'].count()
# pct_bp = count_ones_bp / total_bp * 100
# print(f"Brown Planthopper Outbreak == 1: {count_ones_bp}/{total_bp} ({pct_bp:.2f}%)")
# data_BrownPlanthopper.head()

In [9]:
print(data_BrownPlanthopper['Collection Type'].describe())
print('')
print(data_BrownPlanthopper['Collection Type'].unique())

count                  1958
unique                    2
top       Number/Light trap
freq                   1906
Name: Collection Type, dtype: object

['Number/hill' 'Number/Light trap']

### "Gallmidge"

In [10]:
data_Gallmidge = data[data['PEST NAME'] == 'Gallmidge']
# count_ones_gm = data_Gallmidge['Outbreak'].sum()
# total_gm = data_Gallmidge['Outbreak'].count()
# pct_gm = count_ones_gm / total_gm * 100
# print(f"Gallmidge Outbreak == 1: {count_ones_gm}/{total_gm} ({pct_gm:.2f}%)")
# data_Gallmidge.head()

In [11]:
print(data_Gallmidge['Collection Type'].describe())
print('')
print(data_Gallmidge['Collection Type'].unique())

count                  3016
unique                    2
top       Number/Light trap
freq                   2912
Name: Collection Type, dtype: object

['Number/Light trap' 'Percent Damage']

### "Greenleafhopper"

In [12]:
data_Greenleafhopper = data[data['PEST NAME'] == 'Greenleafhopper']
# count_ones_glh = data_Greenleafhopper['Outbreak'].sum()
# total_glh = data_Greenleafhopper['Outbreak'].count()
# pct_glh = count_ones_glh / total_glh * 100
# print(f"Greenleafhopper Outbreak == 1: {count_ones_glh}/{total_glh} ({pct_glh:.2f}%)")
# data_Greenleafhopper.head()

In [13]:
print(data_Greenleafhopper['Collection Type'].describe())
print('')
print(data_Greenleafhopper['Collection Type'].unique())

count                  2287
unique                    1
top       Number/Light trap
freq                   2287
Name: Collection Type, dtype: object

['Number/Light trap']

### "LeafFolder"

In [14]:
data_LeafFolder = data[data['PEST NAME'] == 'LeafFolder']
# count_ones_lf = data_LeafFolder['Outbreak'].sum()
# total_lf = data_LeafFolder['Outbreak'].count()
# pct_lf = count_ones_lf / total_lf * 100
# print(f"LeafFolder Outbreak == 1: {count_ones_lf}/{total_lf} ({pct_lf:.2f}%)")
# data_LeafFolder.head()

In [15]:
print(data_LeafFolder['Collection Type'].describe())
print('')
print(data_LeafFolder['Collection Type'].unique())

count                  1716
unique                    1
top       Number/Light trap
freq                   1716
Name: Collection Type, dtype: object

['Number/Light trap']

### "Yellowstemborer"

In [16]:
data_LeafFolder = data[data['PEST NAME'] == 'LeafFolder']
# count_ones_lf = data_LeafFolder['Outbreak'].sum()
# total_lf = data_LeafFolder['Outbreak'].count()
# pct_lf = count_ones_lf / total_lf * 100
# print(f"LeafFolder Outbreak == 1: {count_ones_lf}/{total_lf} ({pct_lf:.2f}%)")
# data_LeafFolder.head()

In [17]:
print(data_LeafFolder['Collection Type'].describe())
print('')
print(data_LeafFolder['Collection Type'].unique())

count                  1716
unique                    1
top       Number/Light trap
freq                   1716
Name: Collection Type, dtype: object

['Number/Light trap']

### "Caseworm"

In [18]:
data_Caseworm = data[data['PEST NAME'] == 'Caseworm']
# count_ones_cw = data_Caseworm['Outbreak'].sum()
# total_cw = data_Caseworm['Outbreak'].count()
# pct_cw = count_ones_cw / total_cw * 100
# print(f"Caseworm Outbreak == 1: {count_ones_cw}/{total_cw} ({pct_cw:.2f}%)")
# data_Caseworm.head()

In [19]:
print(data_Caseworm['Collection Type'].describe())
print('')
print(data_Caseworm['Collection Type'].unique())

count                   936
unique                    1
top       Number/Light trap
freq                    936
Name: Collection Type, dtype: object

['Number/Light trap']

### "Miridbug"

In [20]:
data_Miridbug = data[data['PEST NAME'] == 'Miridbug']
# count_ones_mb = data_Miridbug['Outbreak'].sum()
# total_mb = data_Miridbug['Outbreak'].count()
# pct_mb = count_ones_mb / total_mb * 100
# print(f"Miridbug Outbreak == 1: {count_ones_mb}/{total_mb} ({pct_mb:.2f}%)")
# data_Miridbug.head()

In [21]:
print(data_Miridbug['Collection Type'].describe())
print('')
print(data_Miridbug['Collection Type'].unique())

count                  1144
unique                    1
top       Number/Light trap
freq                   1144
Name: Collection Type, dtype: object

['Number/Light trap']

### "Whitebackedplanthopper"

In [22]:
data_Whitebackedplanthopper = data[data['PEST NAME'] == 'Whitebackedplanthopper']
# count_ones_wbp = data_Whitebackedplanthopper['Outbreak'].sum()
# total_wbp = data_Whitebackedplanthopper['Outbreak'].count()
# pct_wbp = count_ones_wbp / total_wbp * 100
# print(f"Whitebackedplanthopper Outbreak == 1: {count_ones_wbp}/{total_wbp} ({pct_wbp:.2f}%)")
# data_Whitebackedplanthopper.head()

In [23]:
print(data_Whitebackedplanthopper['Collection Type'].describe())
print('')
print(data_Whitebackedplanthopper['Collection Type'].unique())

count                  1248
unique                    1
top       Number/Light trap
freq                   1248
Name: Collection Type, dtype: object

['Number/Light trap']

### "ZigZagleafhopper"

In [24]:
data_ZigZagleafhopper = data[data['PEST NAME'] == 'ZigZagleafhopper']
# count_ones_wbp = data_ZigZagleafhopper['Outbreak'].sum()
# total_wbp = data_ZigZagleafhopper['Outbreak'].count()
# pct_wbp = count_ones_wbp / total_wbp * 100
# print(f"ZigZagleafhopper Outbreak == 1: {count_ones_wbp}/{total_wbp} ({pct_wbp:.2f}%)")
# data_ZigZagleafhopper.head()

In [25]:
print(data_ZigZagleafhopper['Collection Type'].describe())
print('')
print(data_ZigZagleafhopper['Collection Type'].unique())

count                   468
unique                    1
top       Number/Light trap
freq                    468
Name: Collection Type, dtype: object

['Number/Light trap']

### "LeafBlast"

In [26]:
data_LeafBlast = data[data['PEST NAME'] == 'LeafBlast']
# count_ones_wbp = data_LeafBlast['Outbreak'].sum()
# total_wbp = data_LeafBlast['Outbreak'].count()
# pct_wbp = count_ones_wbp / total_wbp * 100
# print(f"LeafBlast Outbreak == 1: {count_ones_wbp}/{total_wbp} ({pct_wbp:.2f}%)")
# data_LeafBlast.head()

In [27]:
print(data_LeafBlast['Collection Type'].describe())
print('')
print(data_LeafBlast['Collection Type'].unique())

count           2090
unique             1
top       Percentage
freq            2090
Name: Collection Type, dtype: object

['Percentage']

### "NeckBlast"

In [28]:
data_NeckBlast = data[data['PEST NAME'] == 'NeckBlast']
# count_ones_wbp = data_NeckBlast['Outbreak'].sum()
# total_wbp = data_NeckBlast['Outbreak'].count()
# pct_wbp = count_ones_wbp / total_wbp * 100
# print(f"NeckBlast Outbreak == 1: {count_ones_wbp}/{total_wbp} ({pct_wbp:.2f}%)")
# data_NeckBlast.head()

In [29]:
print(data_NeckBlast['Collection Type'].describe())
print('')
print(data_NeckBlast['Collection Type'].unique())

count            208
unique             1
top       Percentage
freq             208
Name: Collection Type, dtype: object

['Percentage']

# Data Preprocessing

## Creating the "Outbreak" attribute
The "Outbreak" attribute is used as the target attribute for the Machine Learning Models for this Decision Support System (DSS). It is  created with the following logic:
"If the 'Pest Value' is anything above '0', it is seen as an outbreak."

In [30]:
data['Outbreak'] = (data['Pest Value'] > 0).astype(int)
data.head()

,Observation Year,Standard Week,Pest Value,Collection Type,MaxT,MinT,RH1(%),RH2(%),RF(mm),WS(kmph),SSH(hrs),EVP(mm),PEST NAME,Location,Outbreak
0,2003,1,0.0,Number/hill,27.9,14.8,94.7,51.3,0.0,3.1,8.7,2.7,Brownplanthopper,Cuttack,0
1,2003,2,0.0,Number/hill,27.2,15.0,93.9,53.1,0.0,2.1,8.7,2.4,Brownplanthopper,Cuttack,0
2,2003,3,0.0,Number/hill,28.7,18.3,94.1,56.7,0.6,4.8,6.7,2.8,Brownplanthopper,Cuttack,0
3,2003,4,0.0,Number/hill,25.3,16.4,90.9,57.4,0.3,6.5,5.3,3.0,Brownplanthopper,Cuttack,0
4,2003,5,0.0,Number/hill,28.8,18.7,95.7,55.0,0.0,5.2,6.3,2.8,Brownplanthopper,Cuttack,0

### Total Outbreak Percentage

In [31]:
count_ones = data['Outbreak'].sum()
total = data['Outbreak'].count()
pct = count_ones / total * 100
print(f"Outbreak == 1: {count_ones}/{total} ({pct:.2f}%)")

Outbreak == 1: 10734/19404 (55.32%)