In [7]:
import numpy as np
import pandas as pd

In [8]:
# Read the first sheet (or set sheet_name to the sheet/table you want)
data = pd.read_excel('Locust Data.xlsx', sheet_name=0)

# Quick preview when run
print(f"Loaded Excel file: Locust Data.xlsx")
data.head()

Loaded Excel file: Locust Data.xlsx

,RecordID,District,Year,WeekNo,FarmName,Number,Locus,HopperBand,Swarms
0,1,Calvinia,1,4,SMOUSVLEI,4,2919CB,1,0
1,2,Calvinia,1,6,LOSPERSPLAAS,218,3019AC,6,0
2,3,Calvinia,1,6,BLOUPAN,175,3019AD,5,0
3,4,Williston,1,6,DE BAKKE,28,3020BC,3,0
4,5,Williston,1,6,DE DAM,101,3021CD,12,0

In [9]:
data['District'].describe()

count        19518
unique          46
top       Kenhardt
freq          2991
Name: District, dtype: object

In [10]:
data['FarmName'].describe()

count       19518
unique       2675
top       ROOIDAM
freq          149
Name: FarmName, dtype: object

In [11]:
data['Locus'].describe()

count      19516
unique       583
top       3023CC
freq         277
Name: Locus, dtype: object

In [22]:
data['Outbreak'] = ((data['HopperBand'] > 0) & (data['Swarms'] > 0)).astype(int)
data.head()

,RecordID,District,Year,WeekNo,FarmName,Number,Locus,HopperBand,Swarms,Outbreak
0,1,Calvinia,1,4,SMOUSVLEI,4,2919CB,1,0,0
1,2,Calvinia,1,6,LOSPERSPLAAS,218,3019AC,6,0,0
2,3,Calvinia,1,6,BLOUPAN,175,3019AD,5,0,0
3,4,Williston,1,6,DE BAKKE,28,3020BC,3,0,0
4,5,Williston,1,6,DE DAM,101,3021CD,12,0,0

In [23]:
count_ones = data['Outbreak'].sum()
total = data['Outbreak'].count()
pct = count_ones / total * 100
print(f"Outbreak == 1: {count_ones}/{total} ({pct:.2f}%)")

Outbreak == 1: 1834/19518 (9.40%)